target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
.settings/
.classpath
.project
src/test/resources/solr/file/core.properties
*.iml
.idea
.flattened-pom.xml
